<div class=" text-center">
	<!-- <p>{{ tagline }}</p> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 noPaddings">
				<div class="panel panel-default ">
					<div class="panel-heading">Side Panel</div>
					<div class="panel-body" id='panel0'></div>
				</div>
			</div>
			<div class="col-md-10 noPaddings">
			<div class="col-md-6 noPaddings">
				<div class="panel panel-default ">
					<div class="panel-heading">Panel 1</div>
					<div class="panel-body" id='panel1'></div>
				</div>
			</div>
			<div class="col-md-6 noPaddings">
				<div class="panel panel-default">
					<div class="panel-heading">Panel 2</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>